<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TinderZooApp</title>
</head>
<body>
<h1>User List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specie</th>
        <th>Breed</th>
        <th>Age</th>
    </tr>
    <tr th:each="userData : ${users}">
        <td th:text="${userData.id}">1</td>
        <td th:text="${userData.name}">Name</td>
        <td th:text="${userData.specie}">Specie</td>
        <td th:text="${userData.breed}">Breed</td>
        <td th:text="${userData.age}">4</td>
    </tr>
</table>

</body>
</html>