<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TinderZooApp</title>
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home_page">TinderZoo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/myprofile/{id}(id = ${userId})}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/settings/{id}(id = ${userId})}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" th:each="i:${indexes}">
<div class="card mb-3" th:id="'div'+${i}" >
  <h3 class="card-header"></h3>
  <div class="card-body" >
    <h5 class="card-title">You have been matched with</h5>
    <h6 class="card-subtitle text-muted" th:text="${usernames[i]}"></h6>
  </div>
  <img id="profilePict" th:src="'data:image/'+${pictures[i].imageType}+';base64,'+${pictures[i].image}" th:id="'img'+${i}"  width="200" height="200"/>
  <div class="card-body">
    <p class="card-text" th:text="'Description: '+${users_data[i].description}"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="'Location: '+${users_data[i].city}+', '+${users_data[i].country}"></li>
    <li class="list-group-item" th:text="'Species: '+${users_data[i].specie}"></li>
    <li class="list-group-item" th:text="'Age: '+${users_data[i].age}"></li>
    <input type="hidden" th:value="${userId}" name="userId"/>
  </ul>
  <div class="card-body btn-group col-md-4" role="group">
    <form method="post" th:action="@{/view_profile}" >
      <input type="hidden" name="userId" th:value="${matches[i]}"/>
      <input type="hidden" name="myId" th:value="${userId}"/>
      <button class="btn btn-success" type="submit" >View Profile</button>
    </form>
    <button class="btn btn-danger" type="button" onclick="showNext()">Pass </button>
  </div>
</div>
</div>
<div id="noUsers" class="hidden">
  <h1>Nothing to show</h1>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    let indexes = /*[[${indexes}]]*/ 'default';
    console.log(indexes);

    let usernames = /*[[${usernames}]]*/ 'default';
    console.log(usernames);

    let pictures = /*[[${pictures}]]*/ 'default';
    console.log(pictures);

    let users_data = /*[[${users_data}]]*/ 'default';
    console.log(users_data);



    let len = indexes.length;
    if(len ==  0)
    {
      document.getElementById("noUsers").classList.remove("hidden");
    }
    for(let i = 0; i < len; i++)
    {
      if(pictures[i].image==null)
      {
        document.getElementById(`img${i}`).src ="../images/empty_picture.jpg";
      }
    }

    for(let i = 1; i < len; i++)
    {
      document.getElementById(`div${i}`).classList.add("hidden");
    }

    let current = 0;
    let showNext = function(){
      document.getElementById(`div${current}`).classList.add("hidden");
      current++;
      document.getElementById(`div${current}`).classList.remove("hidden");
    }

    /*]]>*/
  </script>
</body>
</html>