<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TinderZooApp</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home_page">TinderZoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/profile/{id}(id = ${userData.id})}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/settings/{id}(id = ${userData.id})}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 class="container text-center display-1">Tinder Zoo</h1>
<div class="w3-container">
    <div class="circular--portrait1">
        <img id="profilePict" th:src="'data:image/'+${profilePicture.imageType}+';base64,'+${profilePicture.image}" />
        <script th:inline="javascript">
        /*<![CDATA[*/

            const pictureElem=document.querySelector("#profilePict");
            let profilePicture = /*[[${profilePicture}]]*/ 'default';
            console.log(profilePicture);

            if(profilePicture.image==null){
                pictureElem.src="../images/empty_picture.jpg";
            }

        /*]]>*/
        </script>
    </div>
    <div>
        <h1 style="text-align: center; width: 15%; height: 15%;"><span th:text="${username}"></span></h1>
    </div>
</div>
<div class="container text-center" style="margin-bottom:150px">
    <div class="card mb-3">
        <a th:href="@{/discover_page/{id}(id = ${userData.id})}"><img class="home_page" src="../images/fluturi.jpg" alt="...">
    </div>
    <div class="card mb-3">
        <a th:href="@{/messages_page/{id}(id = ${userData.id})}"><img class="home_page" src="../images/capre.jpg" alt="..."></a>
    </div>
    <div class="card mb-3">
        <a th:href="@{/matches_page/{id}(id = ${userData.id})}"><img class="home_page" src="../images/horse.jpg" alt="...">
    </div>

</div>


</body>
</html>