<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TinderZooApp</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home_page">TinderZoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/settings}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 class="container text-center display-1">Tinder Zoo</h1>
<div class="w3-container">
    <div class="circular--portrait1">
        <img src="images/empty_picture.jpg" />
    </div>
    <div>
        <h1 style="text-align: center; width: 15%; height: 15%;">Username</h1>
    </div>
</div>
<div class="container text-center" style="margin-bottom:150px">
    <div class="card mb-3">
        <img class="home_page" src="images/fluturi.jpg" alt="...">
    </div>
    <div class="card mb-3">
        <img class="home_page" src="images/capre.jpg" alt="...">
    </div>
    <div class="card mb-3">
            <img class="home_page" src="images/horse.jpg" alt="...">
    </div>


</div>


</body>
</html>