<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TinderZooApp</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{/logout}" method="post"></form>
        <input type="submit" value="Sign out"/>
    </div>
</div>

<h1>List users</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specie</th>
        <th>Breed</th>
        <th>Age</th>
    </tr>
    <tr th:each="userData : ${listUsersCredentials}">
        <td th:text="${userData.id}">1</td>
        <td th:text="${userData.name}">Name</td>
        <td th:text="${userData.email}">Breed</td>
        <td th:text="${userData.password}">4</td>
    </tr>
</table>

</body>
</html>