<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the profile page</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles_profile_page.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home_page">TinderZoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" >Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div th:each="photo:${photos}">
        <div>
            <img style="width: 200px; height: 200px" th:src="'data:image/${photo.imageType};base64,'+${photo.image}" />
            <form th:action="@{/deletePhoto}" method="post">
                <input type="hidden" th:value="${photo.id}" name="photoId"/>
                <input type="hidden" th:value="${userId}" name="userId"/>
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/setAsProfile}" method="post">
                <input type="hidden" th:value="${photo.id}" name="photoId"/>
                <input type="hidden" th:value="${userId}" name="userId"/>
                <button type="submit">Set as profile</button>
            </form>
        </div>
    </div>
</div>

<div>
    <form th:action="@{/addPhotos}" method="post" enctype="multipart/form-data">
        <input type="file" name="photos" multiple><br><br>
        <input type="hidden" th:value="${userId}" name="userId"/>
        <button type="submit">Add photos</button>
    </form>
</div>

</body>
</html>