<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Profile Configuration - TinderZoo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">TinderZoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link active" href="/register">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div>
        <h1 style="margin-bottom: 60px;">Profile Configuration</h1>
    </div>
    <div>
        <h2 style="font-size:28px; margin-bottom: 50px;"><b>The following information is essential for anyone that visits you profile.</br> Make sure you give accurate info:</b></h2>
    </div>
    <form th:action="@{/process_profile_data}"  method="post" style="max-width: 600px; margin: 0 auto;" th:object="${user}" enctype="multipart/form-data"> <!-- userCredentials sent by registrationController -->
        <fieldset>
            <div class="m-3">
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputSpecie" class="col-form-label col-4">Specie:</label>
                    <div class="col-8">
                        <input type="hidden" th:value="${userId}" name="userId"/>
                        <input type="text" th:field="*{specie}" name="specie" class="form-control" id="InputSpecie" placeholder="Enter specie" minlength="2" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputBreed" class="col-form-label col-4">Breed:</label>
                    <div class="col-8">
                        <input type="text" th:field="*{breed}" name="breed" class="form-control" id="InputBreed" placeholder="Enter breed" minlength="2" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputAge" class="col-form-label col-4">Age:</label>
                    <div class="col-8">
                        <input type="number" th:field="*{age}" name="age" class="form-control" id="InputAge" placeholder="Enter age" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputCountry" class="col-form-label col-4">Country:</label>
                    <div class="col-8">
                        <input type="text" th:field="*{country}" name="country" class="form-control" id="InputCountry" placeholder="Enter country" minlength="2" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputCity" class="col-form-label col-4">City:</label>
                    <div class="col-8">
                        <input type="text" th:field="*{city}" name="city" class="form-control" id="InputCity" placeholder="Enter city" minlength="2" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputHeight" class="col-form-label col-4">Height:</label>
                    <div class="col-8">
                        <input type="number" th:field="*{height}" name="height" class="form-control" id="InputHeight" placeholder="Enter height in cm" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputGender" class="col-form-label col-4">Gender:</label>
                    <div class="col-1">
                        <select class="form-select" th:field="*{gender}" name="gender" id="InputGender">
                            <option th:value="'F'" th:text="Female"></option>
                            <option th:value="'M'" th:text="Male"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-bottom: 20px;" for="InputEyeColour" class="col-form-label col-4">Eye colour:</label>
                    <div class="col-8">
                        <input type="text" th:field="*{eyeColor}" name="eyeColor" class="form-control" id="InputEyeColour" placeholder="Enter eye colour" minlength="2" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="margin-top: 20px; margin-bottom: 40px; font-size:28px;"><b>Now add a short description about yourself:</b></label>
                    <div>
                        <textarea name="description" th:field="*{description}"></textarea>
                        <script>
                            CKEDITOR.replace('description');
                        </script>
                    </div>
                </div>
                <div>
                    <label style="margin-top: 40px; margin-bottom: 40px; font-size:28px;" for="photo"><b>One last step, choose a profile picture that will make you a possible match for someone:</b></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                  <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                            </svg></span>

                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="profile_picture" id="photo">
                            <label class="custom-file-label" for="photo">Choose a photo</label>
                            <span class="oi oi-image"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" style="margin-top: 30px;" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>




</div>
</body>
</html>