<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the profile page</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles_profile_page.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home_page/{id}(id = ${userId})}">TinderZoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/home_page/{id}(id = ${userId})}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/settings/{id}(id = ${userId})}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container_left" >
    <div class="circular--portrait1" style="display: block; margin-left: auto; margin-right: auto;">
        <img id="profilePict" th:src="'data:image/${profilePicture.imageType};base64,'+${profilePicture.image}"  />
        <script th:inline="javascript">
        /*<![CDATA[*/
            const pictureElem=document.querySelector("#profilePict");
            let profilePicture = /*[[${profilePicture}]]*/ 'default';
            console.log(profilePicture);

            if(profilePicture.image==null){
                pictureElem.src="../../images/empty_picture.jpg";
            }

        /*]]>*/
        </script>
    </div>
    <h1 style="text-align: center; display: block; margin-left: auto; margin-right: auto; margin-top: 10px;"><span style=" " th:text="${username}"></span></h1>
</div>

<div class="container_carousel">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <div class="cards">
        <label class="card" for="item-1" id="image-1">
            <img src="../../images/capre.jpg" alt="image" id="image0">
        </label>
        <label class="card" for="item-2" id="image-2">
            <img src="../../images/capre.jpg" alt="image" id="image1">
        </label>
        <label class="card" for="item-3" id="image-3">
            <img src="../../images/capre.jpg" alt="image" id="image2">
        </label>
    </div>
</div>

<div class="container_left" style="margin-top: 0px;">
    <div id="matchBtn">
        <form th:action="@{/addMatch}" method="post">
            <input type="hidden" name="matchId" th:value="${userData.id}"/>
            <input type="hidden" name="userId" th:value="${userId}"/>
            <button type="submit" class="btn btn-primary ">MATCH</button>
        </form>
    </div>
    <div id="heart" style="padding-left: 28%"><svg id="color" enable-background="new 0 0 24 24" height="128" viewBox="0 0 24 24" width="128" xmlns="http://www.w3.org/2000/svg"><path d="m11.466 22.776c.141.144.333.224.534.224s.393-.08.534-.224l9.594-9.721c4.001-4.053 1.158-11.055-4.532-11.055-3.417 0-4.985 2.511-5.596 2.98-.614-.471-2.172-2.98-5.596-2.98-5.672 0-8.55 6.984-4.531 11.055z" fill="#f44336"/></svg></div>
    <div id="notInterestedBtn">
        <form th:action="@{/unmatch}" method="post">
            <input type="hidden" name="matchId" th:value="${userData.id}"/>
            <input type="hidden" name="userId" th:value="${userId}"/>
            <button type="submit" class="btn btn-secondary">Not interested</button>
        </form>
    </div>
    <script th:inline="javascript">

     /*<![CDATA[*/

        let matched=/*[[${matched}]]*/ 'default';

        console.log("matched="+matched);

        const matchBtn=document.getElementById("matchBtn");
        const heart=document.getElementById("heart");

        if(matched==true){
            matchBtn.classList.add("hidden");
        }
        else{
            heart.classList.add("hidden");
        }

     /*]]>*/
    </script>
</div>
<div>
    <div class="card text-white bg-primary mb-3 " style="margin-left: 25%; height: 200px; overflow:auto">
        <div class="card-body ">
            <h5 class="card-title" style="text-align: center; font-size: 40px;">My description:</h5>
            <p class="card-text" th:text="${userData.description}" style="font-size: 20px;"></p>
        </div>
    </div>
</div>

<div class="rectangle col-md-8" style="display: block; margin-left: 25%; margin-right: auto; margin-top: 270px; margin-bottom: 40px;">
    <div class="rectangle col-md-12">
        <div class="row">
            <button type="button" class="btn btn-primary col-md-3" id="generalBtn">General</button>
            <div class="col-md-1"></div>
            <button type="button" class="btn btn-primary col-md-3" id="hobbiesBtn">Interests</button>
            <div class="col-md-1"></div>
            <button type="button" class="btn btn-primary col-md-4" id="preferencesBtn">Preferences</button>
        </div>
    </div>
    <div class="row" id="generals">
        <div class="col-md-3 info_profile">Origin: </div>
        <div class="col-md-9 info_profile"><span style="display: inline" th:text="${userData.city}+', '+${userData.country}"></span></div>
        <div class="col-md-3 info_profile">Specie: </div>
        <div class="col-md-9 info_profile"><span th:text="${userData.specie}"></span></div>
        <div class="col-md-3 info_profile">Breed: </div>
        <div class="col-md-9 info_profile"><span th:text="${userData.breed}"></span></div>
        <div class="col-md-3 info_profile">Age: </div>
        <div class="col-md-9 info_profile"><span th:text="${userData.age}"></span></div>
        <div class="col-md-3 info_profile">Gender: </div>
        <div class="col-md-9 info_profile"><span th:text="${userData.gender}"></span></div>
        <div class="col-md-3 info_profile">Height: </div>
        <div class="col-md-9 info_profile"><span th:text="${userData.height}"></span></div>
        <div class="col-md-3 info_profile">Eye color: </div>
        <div class="col-md-9 info_profile"><span th:text="${userData.eyeColor}"></span></div>

    </div>
    <!-- Hobbies div -->

    <div class="row" id="hobbies" >
        <h2><span th:text="${username} +' is most interested in: '"></span></h2>
        <div class="col-md-12 info_profile" th:each="interest: ${interests}">
            <span th:text="${interest.interest_tag}"></span>
        </div>
        <div class="col-md-12 info_profile"></div>
    </div>
    <!-- Preferences div -->
    <div class="row" id="preferences">
        <h2><span th:text="${username} +' prefers partners which fulfill the following: '"></span></h2>
        <div class="col-md-12 info_profile">
            <span th:if="${preferences.closeAge == true}">are close to his age</span>
            <span th:if="${preferences.sameBreed == true}">belong to the same breed</span>
            <span th:if="${preferences.nearby == true}">live in his proximity</span>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

        let photoList = /*[[${photos}]]*/ 'default';
        let len=photoList.length;
        const image=new Array();
        let order=[3,1,2];
        let currentPhotoIndexes=[len-1,0,1];

        console.log(currentPhotoIndexes);

        let setImageSource=function(imgIndex,photoIndex){
            console.log("Setting image nr."+imgIndex+" to have photo with index "+photoIndex);
          if(photoIndex < len){
            image[imgIndex].src=`data:image/${photoList[photoIndex].imageType};base64,${photoList[photoIndex].image}`;
          }
          else{
            image[imgIndex].src="../../images/empty_picture.jpg";
          }
        }

        let decrementCurrentPhotoIndexes=function(index){
          if(currentPhotoIndexes[index]==0){
            currentPhotoIndexes[index]=len-1;
          }
          else{
            currentPhotoIndexes[index]=currentPhotoIndexes[index]-1;
          }
          console.log("len="+len);
          console.log("currentPhotoIndexes="+currentPhotoIndexes);
        }

        function handler(imgNumber){
          if(imgNumber==order[0]){
            order[0]=order[2];
            order[2]=order[1]
            order[1]=imgNumber;

            if(len>3){
              for(let i=0;i<3;i++){
                decrementCurrentPhotoIndexes(i);
              }
              setImageSource(order[0]-1,currentPhotoIndexes[0]);
            }
            return 0;
          }
          if(imgNumber==order[2]){
            order[2]=order[0];
            order[0]=order[1]
            order[1]=imgNumber;

            if(len>3){
              for(i=0;i<3;i++){
                currentPhotoIndexes[i]=currentPhotoIndexes[i]+1;
                currentPhotoIndexes[i]=currentPhotoIndexes[i]%len;
              }
              setImageSource(order[2]-1,currentPhotoIndexes[2]);
            }
          }
          return 0;
        }

        let handler1=function(){handler(1)};
        let handler2=function(){handler(2)};
        let handler3=function(){handler(3)};

        for(let i=0;i<3;i++){
          image[i]=document.querySelector(`#image${i}`);
        }

        image[0].addEventListener("click",handler1);
        image[1].addEventListener("click",handler2);
        image[2].addEventListener("click",handler3);

        console.log(order);

        // START EXECUTION

        if(len>=3){
          setImageSource(0,0);
          setImageSource(1,1);
          setImageSource(2,len-1);
        }
        else if(len==0){ // set all to empty_picture
          setImageSource(0,1);
          setImageSource(1,1);
          setImageSource(2,1);
        }
        else{
          setImageSource(0,0);
          setImageSource(1,1);
          setImageSource(2,2);
        }


        console.log(photoList);
    /*]]>*/
    </script>
<script type="text/javascript" src="../../js/profile_page.js"></script>
<div style="height: 100px;"></div>
</body>
</html>